.carousel-inner {
position: relative;
height: 500px;
}

.carousel-item {
position: relative;
width: 100%;
height: 100%;
}

.carousel-img {
width: 100%;
height: 100%;
object-fit: cover;
}

.bg-navbar {
background-color: #0081B4 !important;
}

.featurette-img {
width: 100%;
height: 100%;
object-fit: cover;
}