{% extends 'catalog/base.html' %}
{% block content %}
{% load my_tags %}

<div class="row">
    <div class="col-lg-4 my-3 position-relative">
        <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
            <nav class="nav nav-pills flex-column">
                <a class="nav-link" href="{% url 'appointment:appointment_create' %}">Запись на прием</a>
                <a class="nav-link" href="{% url 'appointment:appointment_list' %}">Все записи</a>

            </nav>
        </nav>
    </div>

    <div class="col-8 my-3 position-relative">
        <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true"
             class="scrollspy-example-2" tabindex="0">

            <span class="placeholder col-12 bg-primary"></span>



                <span class="placeholder col-12 bg-primary"></span>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}