{% extends 'catalog/base.html' %}
{% block content %}
{% load my_tags %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="col-12 md-5">
        </div>
        <div class="row">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text"><b>{{ product.name|linebreaksbr }}</b></p>
                        <p class="card-text">{{ product.description|linebreaksbr }}</p>
                        <p class="card-text"><b>Ограничения:</b> {{ product.restrictions|linebreaksbr }}</p>
                        <p class="card-text"><b>Медицинские показания:</b> {{ product.medical_indications|linebreaksbr }}</p>
                        <p class="card-text"><b>Цена:</b> {{ product.price }} рублей</p>
                        <a type="button" class="btn btn-info" href="{% url 'catalog:account_list' %}">Записаться</a>
                        <a type="button" class="btn bg-info-subtle" href="{% url 'catalog:category_list' %}">Назад</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}